<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	{% include @layoutPath/mate.html %}
</head>
<body>
	{% include @layoutPath/nav.html %}
	<a href="./about.html">关于我们</a><br>
	<a href="./user/login.html">登录</a><br>
	<a href="./user/register.html">注册</a>
	
	<br>
	<div style="height: calc(100vh - 300px);" class="body-wrap">
		output: {% webpackConfig.output  %}
		filename: {% webpackConfig.output.filename  %}
	</div>
	{% include @layoutPath/footer.html %}
</body>
</html>