<div class="footer color-f font-30 text-center">
	<div
	boy-animate-duration="1.5s" 
	boy-animate-effect="rollIn" 
	boy-animate-delay="0s" 
	class="code bg-main flex-box justify-s-b font-26 boy-animate"
	>
		<div>
			<div class="f-img-wrap">
				<img src="../../assets/img/home/code_1.jpg" alt="">
			</div>
			<p class="p-t-ten">众享无忧公众号</p>
		</div>
		<div>
			<div class="f-img-wrap">
				<img src="../../assets/img/home/code_2.jpg" alt="">
			</div>
			<p class="p-t-ten">骑手小程序</p>
		</div>
		<div>
			<div class="f-img-wrap">
				<img src="../../assets/img/home/code_3.jpg" alt="">
			</div>
			<p class="p-t-ten">用户小程序</p>
		</div>
	</div>
	<div 
	boy-animate-duration="1.5s" 
	boy-animate-effect="rotateInDownRight" 
	boy-animate-delay="0s"
	class="f-detial boy-animate">
		<a href="tel:0755-22929262" class="f-item color-f">
			服务热线: 0755-22929262
		</a>
		<a href="./connection.html" class="f-item text-center m-t-ten color-f">
			联系我们
		</a>
		<div class="compony-desc">
			<p class="font-36 font-b">深圳市顾客王科技有限公司</p>
			<p class="p-t-ten font-26 color-b3">深圳市罗湖区中民时代广场A座2509室</p>
		</div>
		<p class="font-22 color-6 p-b-five">Copyright © 2019顾客王版权所有</p>
		<p class="font-22 color-6">粤ICP备14097393号</p>
	</div>
</div>
<style>
    .font-30 {
    	font-size: .3rem;
    }
    .color-6 {
    	color: #666
    }
    .font-22 {
		font-size: .22rem;
    }
	.footer .code {
		height: 3.44rem;
		padding: .4rem .3rem 0;
	}
	.footer .code .f-img-wrap {
		width: 2.15rem;
		height: 2.15rem;
	}
	.footer .code img {
		height: 100%;
		width: 100%;
	}
	.footer .f-detial {
		background: #242424;
		background-image: url(./static/img/home/footer.jpg);
		background-size: cover;
		padding: .6rem .6rem .4rem;
	}
	.footer .f-detial .f-item {
		background: #242424;
		display: block;
		height: .8rem;
		border-radius: .1rem;
		border: 1px solid #fff;
		line-height: .8rem;
	}
	.footer .compony-desc {
		padding: .6rem 0 .22rem;
	}
</style>
